@charset "utf-8";

/* ===================
    - 画面共通
=================== */

/* Base
------------------------------------------------------------*/
@import "compass";

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$base : #f9f8f6;
$khaki : #887f69;
$beige : #e2ddd4;
$gray : #b0b0b0;
$gray2 : #eeeeee;
$red : #9d1a2d;

// ベースフォントサイズ：10px
html {
    font-size: 62.5%; 
}

// rem変換用関数
@mixin fontsize($size: 24, $base: 10) {  // 初期値設定
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

// Text-Style
.txt_center{
    text-align: center;
}
.txt_left{
    text-align: left;
}
.txt_right{
    text-align: right;
}
.txt-bld{
    font-weight: bold; 
}
.txt_clr_khaki{
    color: $khaki;
}

// Margin-Style
.mg_auto{
    margin: auto;
}
.mt_10{
    margin-top: 10px;
}
.mr_3{
    margin-right: 3px;
}
.mr_5{
    margin-right: 5px;
}
.mb_3{
    margin-bottom: 3px;
}
.mb_10{
    margin-bottom: 10px;
}
.mb_20{
    margin-bottom: 20px;
}

// Padding-Style
.pt_10{
    padding-top: 10px;
}
.pt_15{
    padding-top: 15px;
}
.pt_20{
    padding-top: 20px;
}
.pb_5{
    padding-bottom: 5px;
}
.pb_10{
    padding-bottom: 10px;
}
.pd_10{
    padding: 10px;
}
.pd_20{
    padding: 20px;
}
.pd_0{
    padding: 0px;
}

// BackGroundColor-Style
.bg_clr_wht{
    background-color: white; 
}
.bg_clr_khaki{
    background-color: $khaki;
}

body {
    background-color: $base;

    // SP
    @media (max-width: 550px) {
        .pc{
            display: none;
        }
    }
    
}


/* Header
------------------------------------------------------------*/
header{
    #header_in{
    padding-top: 15px;
    padding-bottom: 4px;
    text-align: center;
    }

    .sp_logo{
        .ttl_logo{
            width: 120px;
        }
        .contact_logo{
            margin-top: 5px;
        }
    }

    // PC
    @media (min-width: 551px) {
        #header_in{
            padding-top: 40px;            
        }

        .sp_logo{
            display: none;
        }

        .pc_menu_li{
            margin: 0;
            padding: 0;
            
            li{
                list-style: none;
                margin: 5px 0 0 0;
                padding: 0;
                float: right;
                padding-right: 10px;
            }
        }
    
    }
}


/* Footer
------------------------------------------------------------*/
footer{
    text-align:center;
    margin-top: 20px;
    @include fontsize(11);
    
    .border{
        margin: 20px 0;
        border-top: solid 1px $khaki;
    }
    
    .kahki{
        color: $khaki;
    }

    // Main PC
    @media (min-width: 551px) {
       margin: 50px 0;
        .pagetop{
            float: right;
        }

    }
}


/* ===================
    - TOP画面
=================== */
/* Main
------------------------------------------------------------*/
.ttl{
    display: block;
    margin-bottom: 15px;
}

//NEW ITEMS, POPULAR ITEMS
.flx_item{
    @include display-flex;         
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);

}

.item{
    @include flex(1);
    padding: 4px;
    @include box-sizing(border-box);
    min-width: 50%;
    
    img{
        width: 100%;
    }
    
    p{
        margin: 0;
        padding-bottom: 5px;
        @include fontsize(11);
    }
    
}


// SHOPPING GUIDE
.flx_guid{
    @include display-flex;         
    @include flex-direction(column);
}
.guid{
    img{
        display: inline-block;
    }

    h6{
        margin: 0;
    }

    p{
        margin: 0;
        @include fontsize(12);
    }

    .derimg{
        max-width: 60%;
    }

    .cardimg{
        display: block;
        margin: auto;
        width: 100%;
    }

}

// SEARCH
input{
    background: url("../images/top/search_icon.png");
    background-repeat: no-repeat;
    display: inline-block; // インライン要素に幅と高さを設定できるように設定
    line-height: 40px;  // 高さを設定
    background-position: 95%;
    background-color:$gray2;
    color: #b5b5b5;
    border: none;
    width: 100%;
    height: 30px;
    font-style: italic;
    @include fontsize(11);
    margin: 0;
}

.item_search{
    margin: 0;
}

// CATEGOIES
.ctgres_li{
    box-sizing: border-box;
    padding: 10px;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 200px;
    list-style: none;
    background-color: white; 
    height: 45px;
    text-align: center;
    margin-bottom: 2px;
    @include fontsize(12);
    vertical-align:middle;
    background-image: url("../images/top/next_icon_gray.png");
    background-repeat: no-repeat;
    background-position: 95%;
}

.img_arrow{
    background-image: url("../images/top/next_icon.png");
    background-repeat: no-repeat;
    background-position: 95%;
}

.img_arrow_down{
    background-image: url("../images/top/down_icon.png");
    background-repeat: no-repeat;
    background-position: 95%;
}

// ABOUT
.info{
    height: 135px;

    .cption{
        margin: 8px;
        margin-left: 3px;
        width: 143px;
        height: 71px;
        float: right;
        @include fontsize(12);
    }

}

.info_img{
    margin: 8px;
    margin-right: 3px;
    width: 135px;
}

.more{
    display: block;
    margin-top: 10px;
}

.pglnk, .ctgres, .about, .shopinfo{
    height: 45px;
     img{
        padding: 17px 10px;
    }
}
    
    
// PC
@media (min-width: 550px) {
    .sp_img{
        display:none;
    }

    .ttl{
        margin-bottom: 10px;
    }

    // NEW ITEMS, POPULAR ITEMS
    .item{
        padding: 8px;
        min-width: 33%;
                
        p{
            @include fontsize(12);
        }
    }

    // SHOPPING_GUID
    .flx_guid{
        @include flex-direction(row);
    }
    
    .guid{
        @include box-sizing(border-box);
        @include flex(1);
        margin-right: 5px;
        margin-top: 0px;
        max-width: 50%;
    }


    /* サイドメニュー共通 */
    .columns{
         margin-left: 3%;
    }        

    .sidebar{
       display:block; /* サイドメニューだけflex解除 */
    }

    // ITEM SEARCH
    .search{
        padding: 0;
        margin-top: 0;

        input{
            width: 80%;
            margin: 10px 20px 20px 20px;
            
        }
        
        img {
            padding: 20px 0px 0px 20px;
        }
    }

    // CATEGOIES
    .ctgres_li{
        padding-top: 13px;
        padding-right: 120px;
    }

    // ABOUT
    .info{
        background-color: white;
        height: 265px;
        text-align: center;
        
        .cption{
            box-sizing: border-box;
            padding: 0 10px;
            text-align:left;
            margin: 0;
            width: 100%;
            height: 55px;
            float: none;
        }
    }

    // SHOP_INFO
    .info_img{
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .more{
        margin: auto;
        margin-top: 10px;
        text-align: center;
    }
    
}
