@charset "UTF-8";
/* ===================
    - 画面共通
=================== */
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; }

.txt_center {
  text-align: center; }

.txt_left {
  text-align: left; }

.txt_right {
  text-align: right; }

.txt_just {
  text-align: justify;
  text-justify: inter-ideograph; }

.txt-bld {
  font-weight: bold; }

.txt-italic {
  font-style: italic; }

.txt_clr_khaki {
  color: #887f69; }

.txt_clr_beige {
  color: #e2ddd4; }

.txt_clr_wht {
  color: white; }

.txt_clr_gry {
  color: #b0b0b0; }

.txt_clr_pink {
  color: #e80f66; }

.ltr_spc_1 {
  letter-spacing: 1px; }

.ltr_spc_2 {
  letter-spacing: 2px; }

.ltr_spc_4 {
  letter-spacing: 4px; }

.mg_auto {
  margin: auto; }

.mt_5 {
  margin-top: 5px; }

.mt_10 {
  margin-top: 10px; }

.mt_15 {
  margin-top: 15px; }

.mt_20 {
  margin-top: 20px; }

.mr_0 {
  margin-right: 0px; }

.mr_3 {
  margin-right: 3px; }

.mr_5 {
  margin-right: 5px; }

.mr_10 {
  margin-right: 10px; }

.mb_0 {
  margin-bottom: 0px; }

.mb_3 {
  margin-bottom: 3px; }

.mb_5 {
  margin-bottom: 5px; }

.mb_10 {
  margin-bottom: 10px; }

.mb_15 {
  margin-bottom: 15px; }

.mb_20 {
  margin-bottom: 20px; }

.pt_10 {
  padding-top: 10px; }

.pt_15 {
  padding-top: 15px; }

.pt_20 {
  padding-top: 20px; }

.pt_30 {
  padding-top: 30px; }

.pt_50 {
  padding-top: 50px; }

.pr_10 {
  padding-right: 10px; }

.pl_10 {
  padding-left: 10px; }

.pl_20 {
  padding-left: 20px; }

.pl_30 {
  padding-left: 30px; }

.pl_40 {
  padding-left: 40px; }

.pb_5 {
  padding-bottom: 5px; }

.pb_10 {
  padding-bottom: 10px; }

.pb_15 {
  padding-bottom: 15px; }

.pd_5 {
  padding: 5px; }

.pd_10 {
  padding: 10px; }

.pd_20 {
  padding: 20px; }

.pd_0 {
  padding: 0px; }

.pd_0_10 {
  padding: 0 10px; }

.bg_clr_wht {
  background-color: white; }

.bg_clr_khaki {
  background-color: #887f69; }

.bg_clr_beige {
  background-color: #e2ddd4; }

.bg_clr_beige2 {
  background-color: #f9f9f5; }

.w_100 {
  width: 100%; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

/* ===================
    - 商品一覧ページ,商品詳細ページ
=================== */
/* Header
------------------------------------------------------------*/
.bread {
  border-radius: 3px;
  height: 34px; }
  .bread p {
    min-width: 60%;
    margin-bottom: 0px;
    font-size: 11px;
    font-size: 1.1rem;
    vertical-align: sub; }
  .bread .homeimg {
    background: url("../images/list/home_icon.png");
    width: 12px;
    height: 11px;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 11px;
    background-position: 5%; }

.hd_img {
  display: block;
  width: 100%; }

/* 商品一覧ページ Main
------------------------------------------------------------*/
.btn {
  display: block;
  font-weight: 600;
  width: 121px;
  height: 40px;
  line-height: 40px; }

.btnL {
  float: left; }

.btnR {
  float: right; }

/* 商品詳細ページ Main
------------------------------------------------------------*/
.itemdetail {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 10px; }
  .itemdetail h5 {
    margin-bottom: 0px; }
  .itemdetail .flx_subimg {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none; }
  .itemdetail .subimg {
    cursor: pointer;
    max-width: 19.2%;
    margin-bottom: 0px; }
    .itemdetail .subimg img {
      max-width: 100%; }
  .itemdetail .dtlinf_tbl {
    font-size: 12px;
    font-size: 1.2rem;
    width: 100%;
    border-collapse: collapse; }
    .itemdetail .dtlinf_tbl th, .itemdetail .dtlinf_tbl td {
      border: solid 1px #e2ddd4;
      padding: 12px; }
    .itemdetail .dtlinf_tbl .thd {
      min-width: 60px; }
  .itemdetail .yen {
    font-size: 22px;
    font-size: 2.2rem; }
  .itemdetail .prce {
    float: right;
    margin-bottom: 0;
    padding-top: 8px;
    position: relative;
    right: 70px; }
  .itemdetail input {
    border: 1px solid #e2ddd4;
    margin-left: 40px;
    border-radius: 0px;
    width: 140px;
    max-width: 60%; }

.line_lime {
  width: 100%;
  border-top: solid 1px #E3E8CF; }

.line_khaki {
  width: 100%;
  border-top: solid 1px #887f69; }

@media (min-width: 550px) {
  /* Header
  ------------------------------------------------------------*/
  .homeimg {
    line-height: 10px;
    background-position: 1.5%; }

  /* 商品詳細ページ Main
  ------------------------------------------------------------*/
  .itemdetail {
    padding: 50px; }
    .itemdetail .flx_item_pc {
      display: -webkit-flex;
      display: flex; }
    .itemdetail .main {
      width: 70%; }
      .itemdetail .main img {
        width: 100%;
        box-sizing: border-box; }
    .itemdetail ul:nth-child(5) {
      margin-right: 0px; }
    .itemdetail .sub {
      width: 30%; }
    .itemdetail .flx_subimg {
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
    .itemdetail .subimg {
      display: block;
      margin-left: 11%;
      margin-right: 0px;
      margin-bottom: 7%;
      max-width: 50%; }
      .itemdetail .subimg img {
        max-width: 100%;
        width: 70px; }
    .itemdetail .prce {
      right: 20px; }
    .itemdetail .prc_lft {
      float: left; }
    .itemdetail .prc_rt {
      position: relative;
      top: 10px; } }
@media (max-width: 550px) {
  .mg_RL10 {
    margin-right: 10px;
    margin-left: 10px; } }
@media (min-width: 926px) and (max-width: 1179px) {
  .itemdetail .subimg {
    margin-left: 5%; }
    .itemdetail .subimg img {
      max-width: 100%;
      width: 60px; } }
@media (min-width: 730px) and (max-width: 925px) {
  .main {
    min-width: 65%; }

  .sub {
    min-width: 35%; }

  .itemdetail .subimg {
    margin-left: 7%;
    margin-bottom: 3%; }
    .itemdetail .subimg img {
      width: 50px; } }
@media (min-width: 550px) and (max-width: 729px) {
  .main {
    min-width: 60%; }

  .sub {
    min-width: 40%; }

  .itemdetail .subimg {
    margin-left: 3%;
    margin-bottom: 1%; }
    .itemdetail .subimg img {
      width: 42px; } }
/* =============================
    - TOP画面、各画面共通
============================= */
/* Base
------------------------------------------------------------*/
body {
  background-color: #f9f8f6; }
  @media (max-width: 550px) {
    body .pc {
      display: none; } }

/* Header
------------------------------------------------------------*/
header #header_in {
  padding-top: 15px;
  padding-bottom: 4px;
  text-align: center; }
header .sp_logo .ttl_logo {
  width: 120px; }
header .sp_logo .contact_logo {
  margin-top: 5px; }
@media (min-width: 551px) {
  header #header_in {
    padding-top: 40px; }
  header .sp_logo {
    display: none; }
  header .pc_menu_li {
    margin: 0;
    padding: 0; }
    header .pc_menu_li li {
      list-style: none;
      margin: 5px 0 0 0;
      padding: 0;
      float: right;
      padding-right: 10px; } }

/* Footer
------------------------------------------------------------*/
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 11px;
  font-size: 1.1rem; }
  footer .border {
    margin: 20px 0;
    border-top: solid 1px #887f69; }
  footer .kahki {
    color: #887f69; }
  @media (min-width: 551px) {
    footer {
      margin: 50px 0; }
      footer .pagetop {
        float: right; } }

/* ===================
    - TOP画面
=================== */
/* Main
------------------------------------------------------------*/
.ttl {
  display: block;
  margin-bottom: 15px; }

.flx_item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.item {
  -webkit-flex: inherit;
  flex: inherit;
  padding: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 49.5%;
  min-width: auto;
  margin-bottom: 3px; }
  .item img {
    width: 100%; }
  .item p {
    margin: 0;
    padding-bottom: 5px;
    font-size: 11px;
    font-size: 1.1rem; }

.flx_guid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

.guid img {
  display: inline-block; }
.guid h6 {
  margin: 0; }
.guid p {
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem; }
.guid .derimg {
  max-width: 60%; }
.guid .cardimg {
  display: block;
  margin: auto;
  width: 100%; }

.search input {
  background: url("../images/top/search_icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 40px;
  background-position: 95%;
  background-color: #eeeeee;
  color: #b5b5b5;
  border: none;
  width: 100%;
  height: 30px;
  font-style: italic;
  font-size: 11px;
  font-size: 1.1rem;
  margin: 0; }

.item_search {
  margin: 0; }

.ctgres_li {
  box-sizing: border-box;
  padding: 10px;
  padding-top: 15px;
  padding-left: 10;
  list-style: none;
  background-color: white;
  height: 45px;
  margin-bottom: 2px;
  font-size: 12px;
  font-size: 1.2rem;
  vertical-align: middle;
  background-image: url("../images/top/next_icon_gray.png");
  background-repeat: no-repeat;
  background-position: 95%; }

.img_arrow {
  background-image: url("../images/top/next_icon.png");
  background-repeat: no-repeat;
  background-position: 95%; }

.img_arrow_down {
  background-image: url("../images/top/down_icon.png");
  background-repeat: no-repeat;
  background-position: 95%; }

.info {
  height: 135px; }
  .info .cption {
    margin: 8px;
    margin-left: 3px;
    width: 143px;
    height: 71px;
    float: right;
    font-size: 12px;
    font-size: 1.2rem; }

.info_img {
  margin: 8px;
  margin-right: 3px;
  width: 135px; }

.more {
  display: block;
  margin-top: 10px; }

.pglnk, .ctgres, .about, .shopinfo {
  height: 45px; }
  .pglnk img, .ctgres img, .about img, .shopinfo img {
    padding: 17px 10px; }

@media (min-width: 550px) {
  .sp_img {
    display: none; }

  .ttl {
    margin-bottom: 10px; }

  .item {
    padding: 8px;
    flex: inherit;
    width: 33%;
    min-width: auto;
    margin-bottom: 3px; }
    .item p {
      font-size: 12px;
      font-size: 1.2rem; }

  .flx_guid {
    -webkit-flex-direction: row;
    flex-direction: row; }

  .guid {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex: 1;
    flex: 1;
    margin-right: 5px;
    margin-top: 0px;
    max-width: 50%; }

  /* サイドメニュー共通 */
  .columns {
    margin-left: 3%; }

  .sidebar {
    display: block;
    /* サイドメニューだけflex解除 */ }

  .search {
    margin-top: 0;
    padding-bottom: 20px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0; }
    .search input {
      width: 80%;
      display: block;
      margin: auto; }
    .search img {
      padding: 20px 0px 0px 20px; }

  .ctgres_li {
    padding-top: 13px;
    padding-right: 0px;
    padding-left: 10px; }

  .info {
    background-color: white;
    height: 265px;
    text-align: center; }
    .info .cption {
      box-sizing: border-box;
      padding: 0 10px;
      text-align: left;
      margin: 0;
      width: 100%;
      height: 55px;
      float: none; }

  .info_img {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 100%; }

  .more {
    margin: auto;
    margin-top: 10px;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
