@charset "utf-8";
@import "compass";
@import 'common';
@import 'item';

/* =============================
    - TOP画面、各画面共通
============================= */

/* Base
------------------------------------------------------------*/

body {
    background-color: $base;

    // SP
    @media (max-width: 550px) {
        .pc{
            display: none;
        }
    }
    
}


/* Header
------------------------------------------------------------*/
header{
    #header_in{
    padding-top: 15px;
    padding-bottom: 4px;
    text-align: center;
    }

    .sp_logo{
        .ttl_logo{
            width: 120px;
        }
        .contact_logo{
            margin-top: 5px;
        }
    }

    // PC
    @media (min-width: 551px) {
        #header_in{
            padding-top: 40px;            
        }

        .sp_logo{
            display: none;
        }

        .pc_menu_li{
            margin: 0;
            padding: 0;
            
            li{
                list-style: none;
                margin: 5px 0 0 0;
                padding: 0;
                float: right;
                padding-right: 10px;
            }
        }
    
    }
}


/* Footer
------------------------------------------------------------*/
footer{
    text-align:center;
    margin-top: 20px;
    @include fontsize(11);
    
    .border{
        margin: 20px 0;
        border-top: solid 1px $khaki;
    }
    
    .kahki{
        color: $khaki;
    }

    // Main PC
    @media (min-width: 551px) {
       margin: 50px 0;
        .pagetop{
            float: right;
        }

    }
}


/* ===================
    - TOP画面
=================== */
/* Main
------------------------------------------------------------*/
.ttl{
    display: block;
    margin-bottom: 15px;
}

//NEW ITEMS, POPULAR ITEMS
.flx_item{
    @include display-flex;         
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);

}

.item{
    @include flex(inherit);
    padding: 4px;
    @include box-sizing(border-box);
    width: 49.5%;
    min-width: auto;
    margin-bottom: 3px;
    
    img{
        width: 100%;
    }
    
    p{
        margin: 0;
        padding-bottom: 5px;
        @include fontsize(11);
    }
    
}


// SHOPPING GUIDE
.flx_guid{
    @include display-flex;         
    @include flex-direction(column);
}
.guid{
    img{
        display: inline-block;
    }

    h6{
        margin: 0;
    }

    p{
        margin: 0;
        @include fontsize(12);
    }

    .derimg{
        max-width: 60%;
    }

    .cardimg{
        display: block;
        margin: auto;
        width: 100%;
    }

}

// SEARCH
.search input{
    background: url("../images/top/search_icon.png");
    background-repeat: no-repeat;
    display: inline-block; // インライン要素に幅と高さを設定できるように設定
    line-height: 40px;  // 高さを設定
    background-position: 95%;
    background-color:$gray2;
    color: #b5b5b5;
    border: none;
    width: 100%;
    height: 30px;
    font-style: italic;
    @include fontsize(11);
    margin: 0;
}

.item_search{
    margin: 0;
}

// CATEGOIES
.ctgres_li{
    box-sizing: border-box;
    padding: 10px;
    padding-top: 15px;
    padding-left: 10;
    list-style: none;
    background-color: white; 
    height: 45px;
    margin-bottom: 2px;
    @include fontsize(12);
    vertical-align:middle;
    background-image: url("../images/top/next_icon_gray.png");
    background-repeat: no-repeat;
    background-position: 95%;
}

.img_arrow{
    background-image: url("../images/top/next_icon.png");
    background-repeat: no-repeat;
    background-position: 95%;
}

.img_arrow_down{
    background-image: url("../images/top/down_icon.png");
    background-repeat: no-repeat;
    background-position: 95%;
}

// ABOUT
.info{
    height: 135px;

    .cption{
        margin: 8px;
        margin-left: 3px;
        width: 143px;
        height: 71px;
        float: right;
        @include fontsize(12);
    }

}

.info_img{
    margin: 8px;
    margin-right: 3px;
    width: 135px;
}

.more{
    display: block;
    margin-top: 10px;
}

.pglnk, .ctgres, .about, .shopinfo{
    height: 45px;
     img{
        padding: 17px 10px;
    }
}
    
    
// PC
@media (min-width: 550px) {
    .sp_img{
        display:none;
    }

    .ttl{
        margin-bottom: 10px;
    }

    // NEW ITEMS, POPULAR ITEMS
    .item{
        padding: 8px;
        flex: inherit;
        width: 33%;
        min-width: auto;
        margin-bottom: 3px;
                
        p{
            @include fontsize(12);
        }
    }

    // SHOPPING_GUID
    .flx_guid{
        @include flex-direction(row);
    }
    
    .guid{
        @include box-sizing(border-box);
        @include flex(1);
        margin-right: 5px;
        margin-top: 0px;
        max-width: 50%;
    }


    /* サイドメニュー共通 */
    .columns{
         margin-left: 3%;
    }        

    .sidebar{
       display:block; /* サイドメニューだけflex解除 */
    }

    // ITEM SEARCH
    .search{
        margin-top: 0;
        padding-bottom: 20px;
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;        

        input{
            width: 80%;
            display: block;
            margin: auto;
        }
        
        img {
            padding: 20px 0px 0px 20px;
        }
    }

    // CATEGOIES
    .ctgres_li{
        padding-top: 13px;
        padding-right: 0px;
        padding-left: 10px;
    }

    // ABOUT
    .info{
        background-color: white;
        height: 265px;
        text-align: center;
        
        .cption{
            box-sizing: border-box;
            padding: 0 10px;
            text-align:left;
            margin: 0;
            width: 100%;
            height: 55px;
            float: none;
        }
    }

    // SHOP_INFO
    .info_img{
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .more{
        margin: auto;
        margin-top: 10px;
        text-align: center;
    }
    
}
